# all files in this directory ex this config file are added
# to the bootloader directory

# archive file name in theme directory
archive=message

# setup function name in 'gfxtest' script
setup=grub

# list of files to remove in bootloader directory
rm_files=""

# additional 'gfxboot' args
args=""

