%% include system.inc
%% include bsplash.inc

/livecd false def

%% include timeout.inc
%% include common.inc

%% include po/text.inc
%% include window.inc
%% include button.inc
%% include help.inc
%% include main.inc
%% include xmenu.inc
%% include dia_video.inc
%% include dia_splash.inc
%% include dia_lang.inc
%% include dia_dud.inc
%% include dia_help.inc
%% include dia_profile.inc
%% include dia_install.inc
%% include dia_bits.inc
%% include dia_options.inc
%% include panel.inc
%% include keytables.inc
%% include locale.inc
%% include penguin.inc

